In [2]:
import pandas as pd

## Dataset 1

### Leitura dos dados

In [3]:
dados_crc = pd.read_csv("data_RNA_Seq_v2_expression_median.txt", sep = "\t")

In [4]:
dados_crc.shape

(20531, 594)

In [5]:
dados_crc.head()

,Hugo_Symbol,Entrez_Gene_Id,TCGA-3L-AA1B-01,TCGA-4N-A93T-01,TCGA-4T-AA8H-01,TCGA-5M-AAT4-01,TCGA-5M-AAT5-01,TCGA-5M-AAT6-01,TCGA-5M-AATA-01,TCGA-5M-AATE-01,...,TCGA-AG-A01N-01,TCGA-AG-A01W-01,TCGA-AG-A01Y-01,TCGA-AG-A020-01,TCGA-AG-A025-01,TCGA-AG-A026-01,TCGA-AG-A02G-01,TCGA-AG-A02N-01,TCGA-AG-A02X-01,TCGA-AG-A032-01
0,NaN,100130426,0.5174,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,100133144,18.0851,4.4315,9.8995,7.9174,12.2565,3.9637,7.2366,11.629,...,15.743594,14.537972,21.727246,10.163220,12.410499,16.960418,15.046868,19.482340,10.879230,7.132114
2,NaN,100134869,15.7640,4.2767,11.3032,18.7608,20.8826,15.0672,11.4513,6.906,...,15.217727,16.618064,32.527797,12.122878,19.251253,22.282965,19.436783,2.815511,5.598328,13.724609
3,NaN,10357,144.4000,142.6610,143.1990,146.1880,262.5110,228.2520,124.2350,240.714,...,294.057306,447.567616,378.234898,354.662405,410.955520,289.758443,368.360542,333.491605,373.021521,409.240194
4,NaN,10431,774.6620,1185.2900,888.3200,1280.5500,1299.8400,945.6360,999.2050,606.849,...,785.354182,1709.628217,795.456492,931.667192,951.035449,946.999379,840.062409,892.839596,681.086971,804.159653

In [6]:
dados_crc.tail()

,Hugo_Symbol,Entrez_Gene_Id,TCGA-3L-AA1B-01,TCGA-4N-A93T-01,TCGA-4T-AA8H-01,TCGA-5M-AAT4-01,TCGA-5M-AAT5-01,TCGA-5M-AAT6-01,TCGA-5M-AATA-01,TCGA-5M-AATE-01,...,TCGA-AG-A01N-01,TCGA-AG-A01W-01,TCGA-AG-A01Y-01,TCGA-AG-A020-01,TCGA-AG-A025-01,TCGA-AG-A026-01,TCGA-AG-A02G-01,TCGA-AG-A02N-01,TCGA-AG-A02X-01,TCGA-AG-A032-01
20526,ZYG11A,440590,3.3849,0.4838,0.000,0.4303,3.4623,13.781,6.7594,1.373,...,2.924689,0.071278,1.926117,0.520865,2.298691,0.135728,-0.402069,0.265865,-0.402069,0.898260
20527,ZYG11B,79699,543.0370,290.7600,669.713,445.3530,550.5040,492.833,477.5350,759.248,...,730.538983,866.110509,1281.631065,892.926058,623.683014,715.725841,417.929356,914.956269,544.076931,685.383167
20528,ZYX,7791,6259.1900,4653.1200,4460.610,4190.1900,3878.2600,6165.990,4216.3000,5513.810,...,5429.155709,5416.137978,9236.399494,2416.364270,3847.373320,3804.441217,3529.241972,2768.765832,5001.453757,4643.428584
20529,ZZEF1,23140,1358.3200,1220.1300,3002.010,1093.3700,1016.4300,1390.560,744.3340,733.162,...,1057.025127,1016.476464,732.492887,1959.411854,1865.678814,1159.494367,1767.341263,1151.317795,1822.211921,2125.966458
20530,ZZZ3,26009,798.3560,333.8170,530.068,574.4410,413.0020,717.266,848.5090,586.941,...,517.356714,698.909735,933.996360,847.700844,631.469272,533.538227,342.401802,996.284836,735.466401,343.951649

In [7]:
dados_crc.iloc[:,0].isnull().sum() # HUGO - valores nulos

29

In [8]:
data_hugo = dados_crc[dados_crc.notna()['Hugo_Symbol']]          #to remove rows with Hugo Symbol as NaN
data_hugo = data_hugo.set_index("Hugo_Symbol")
del data_hugo["Entrez_Gene_Id"]

In [9]:
data_hugo.shape  ## 20502 genes x 592 amostras

(20502, 592)

In [10]:
data_hugo.head()

,TCGA-3L-AA1B-01,TCGA-4N-A93T-01,TCGA-4T-AA8H-01,TCGA-5M-AAT4-01,TCGA-5M-AAT5-01,TCGA-5M-AAT6-01,TCGA-5M-AATA-01,TCGA-5M-AATE-01,TCGA-A6-2675-01,TCGA-A6-2682-01,...,TCGA-AG-A01N-01,TCGA-AG-A01W-01,TCGA-AG-A01Y-01,TCGA-AG-A020-01,TCGA-AG-A025-01,TCGA-AG-A026-01,TCGA-AG-A02G-01,TCGA-AG-A02N-01,TCGA-AG-A02X-01,TCGA-AG-A032-01
Hugo_Symbol,,,,,,,,,,,,,,,,,,,,,
A1BG,22.1470,171.2680,20.9980,6.4587,14.8384,49.8017,21.4195,9.6107,22.1173,27.7957,...,28.648632,14.213148,20.361928,4.479873,21.674028,18.887585,12.434922,6.936515,16.165630,22.836611
A1CF,220.9870,100.6290,174.0080,151.4630,255.7150,0.0000,180.1190,106.4040,152.6630,252.2200,...,355.438651,419.780727,19.486773,457.556518,182.038533,249.519138,238.629796,174.525498,191.864642,159.905526
A2BP1,2.4178,10.1597,0.7311,1.7212,2.4731,3.2812,0.3976,7.5513,10.2495,0.0000,...,3.491189,-0.330564,-0.330564,2.796757,0.296385,-0.330564,-0.330564,1.183092,75.017749,23.387740
A2LD1,177.4080,371.3640,295.6750,127.4830,105.9410,90.1274,194.0600,160.3890,126.8730,177.5320,...,51.486871,139.230385,172.838955,85.602168,280.602666,230.647330,282.865728,111.407100,70.135640,141.760142
A2M,15911.5000,1494.3300,1333.5700,2424.2600,2398.3400,7231.6500,8478.2800,4059.8400,11420.6000,3860.4800,...,5101.700157,2104.846555,3209.528006,1397.462448,4321.102468,4313.595650,1793.745097,2198.884111,1163.266249,2785.679374

### Metadados

In [11]:
meta_crc= pd.read_csv("coadread_tcga_pan_can_atlas_2018_clinical_data.tsv", sep="\t")
del meta_crc["Study ID"]

In [12]:
meta_crc.head()

,Patient ID,Sample ID,Diagnosis Age,Neoplasm Disease Stage American Joint Committee on Cancer Code,American Joint Committee on Cancer Publication Version Type,Aneuploidy Score,Buffa Hypoxia Score,Cancer Type,TCGA PanCanAtlas Cancer Type Acronym,Cancer Type Detailed,...,9p Status,9q Status,Subtype,Tissue Prospective Collection Indicator,Tissue Retrospective Collection Indicator,Tissue Source Site,Tumor Disease Anatomic Site,Tumor Type,Patient Weight,Winter Hypoxia Score
0,TCGA-3L-AA1B,TCGA-3L-AA1B-01,61.0,STAGE I,7TH,19.0,5.0,Colorectal Adenocarcinoma,COAD,Colon Adenocarcinoma,...,Not Called,Not Called,COAD_CIN,Yes,No,3L,Colon,Colon Adenocarcinoma,63.300,-12.0
1,TCGA-4N-A93T,TCGA-4N-A93T-01,67.0,STAGE IIIB,7TH,13.0,-15.0,Colorectal Adenocarcinoma,COAD,Colon Adenocarcinoma,...,Not Called,Not Called,COAD_CIN,Yes,No,4N,Colon,Colon Adenocarcinoma,134.000,-6.0
2,TCGA-4T-AA8H,TCGA-4T-AA8H-01,42.0,STAGE IIA,7TH,18.0,15.0,Colorectal Adenocarcinoma,COAD,Mucinous Adenocarcinoma of the Colon and Rectum,...,Not Called,Not Called,COAD_CIN,No,Yes,4T,Colon,"Colon Adenocarcinoma, Mucinous Type",107.956,-4.0
3,TCGA-5M-AAT4,TCGA-5M-AAT4-01,74.0,STAGE IV,6TH,18.0,35.0,Colorectal Adenocarcinoma,COAD,Colon Adenocarcinoma,...,Gained,Not Called,COAD_CIN,No,Yes,5M,Colon,Colon Adenocarcinoma,NaN,32.0
4,TCGA-5M-AAT5,TCGA-5M-AAT5-01,NaN,NaN,NaN,10.0,33.0,Colorectal Adenocarcinoma,COAD,Colon Adenocarcinoma,...,Not Called,Not Called,COAD_CIN,NaN,NaN,5M,NaN,Colon Adenocarcinoma,NaN,18.0

In [13]:
meta_crc = meta_crc.set_index("Sample ID")

In [14]:
meta_crc.head()

,Patient ID,Diagnosis Age,Neoplasm Disease Stage American Joint Committee on Cancer Code,American Joint Committee on Cancer Publication Version Type,Aneuploidy Score,Buffa Hypoxia Score,Cancer Type,TCGA PanCanAtlas Cancer Type Acronym,Cancer Type Detailed,Center of sequencing,...,9p Status,9q Status,Subtype,Tissue Prospective Collection Indicator,Tissue Retrospective Collection Indicator,Tissue Source Site,Tumor Disease Anatomic Site,Tumor Type,Patient Weight,Winter Hypoxia Score
Sample ID,,,,,,,,,,,,,,,,,,,,,
TCGA-3L-AA1B-01,TCGA-3L-AA1B,61.0,STAGE I,7TH,19.0,5.0,Colorectal Adenocarcinoma,COAD,Colon Adenocarcinoma,Albert Einstein Medical Center,...,Not Called,Not Called,COAD_CIN,Yes,No,3L,Colon,Colon Adenocarcinoma,63.300,-12.0
TCGA-4N-A93T-01,TCGA-4N-A93T,67.0,STAGE IIIB,7TH,13.0,-15.0,Colorectal Adenocarcinoma,COAD,Colon Adenocarcinoma,Mary Bird Perkins Cancer Center - Our Lady of ...,...,Not Called,Not Called,COAD_CIN,Yes,No,4N,Colon,Colon Adenocarcinoma,134.000,-6.0
TCGA-4T-AA8H-01,TCGA-4T-AA8H,42.0,STAGE IIA,7TH,18.0,15.0,Colorectal Adenocarcinoma,COAD,Mucinous Adenocarcinoma of the Colon and Rectum,Duke University,...,Not Called,Not Called,COAD_CIN,No,Yes,4T,Colon,"Colon Adenocarcinoma, Mucinous Type",107.956,-4.0
TCGA-5M-AAT4-01,TCGA-5M-AAT4,74.0,STAGE IV,6TH,18.0,35.0,Colorectal Adenocarcinoma,COAD,Colon Adenocarcinoma,University of Sao Paulo,...,Gained,Not Called,COAD_CIN,No,Yes,5M,Colon,Colon Adenocarcinoma,NaN,32.0
TCGA-5M-AAT5-01,TCGA-5M-AAT5,NaN,NaN,NaN,10.0,33.0,Colorectal Adenocarcinoma,COAD,Colon Adenocarcinoma,University of Sao Paulo,...,Not Called,Not Called,COAD_CIN,NaN,NaN,5M,NaN,Colon Adenocarcinoma,NaN,18.0

In [15]:
meta_crc.shape

(592, 94)

In [22]:
(meta_crc.index.sort_values() == data_hugo.columns.sort_values()).sum()

592